body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(139, 137, 137);
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: rgb(139, 137, 137);
  font-size: 18px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin: 5px;
}
li::first-letter {
  text-transform: capitalize;
}
.card-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.card {
  padding: 20px;
  border-radius: 10px;
  background-image: #fff;
  color: rgb(139, 137, 137);
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  width: 80px;
  height: 80px;
}
.weather-temperature strong {
  color: #f1a;
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.units a {
  text-decoration: none;
}
.weather-temperature .active {
  color: #f1a;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin: 2px;
  text-align: center;
  color: #f1a;
}
.weather-forcast-date {
  font-size: 20px;
  opacity: 0.6;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 17px;
}
